.App {
  /* text-align: center; */
}

.poke-nav {
  background-color: brown !important;
}

.navbar-brand {
  color: azure
}

.poke-pill {
  position: absolute;
  top: 0px;
  left: 0px;
}

.poke-card {
  position: relative;
  cursor: pointer;
}

.poke-modal {
  position: relative;
}

#buscador {
  position: relative;
}

#resultados-busqueda {
  position: absolute;
  top: 31px;
  left: 0px;
  width: 100%;
  z-index: 1;
}