.App {
  /* text-align: center; */
}

.poke-nav {
  background-color: brown !important;
}

.navbar-brand {
  color: azure
}

.posicion {
  position: absolute;
  top: 0px;
  left: 0px;
}

.poke-card {
  position: relative;
}