.tipo-normal {
    background-color: rgb(200, 200, 200)
  }
  
  .tipo-poison {
    background-color: rgb(155, 64, 207)
  }
  
  .tipo-grass {
    background-color: rgb(64, 223, 98)
  }
  
  .tipo-fire {
    background-color: rgb(240, 95, 27)
  }
  
  .tipo-water {
    background-color: rgb(53, 125, 241)
  }
  
  .tipo-electric {
    background-color: rgb(228, 241, 53)
  }
  
  .tipo-bug {
    background-color: rgb(127, 243, 92)
  }
  
  .tipo-flying {
    background-color: rgb(92, 200, 243)
  }